.tx-form {
  width: 800px;
  max-height: 560px;
  padding: 44px 48px 48px;
  border-radius: 8px;
  border: solid 1px #dae1e9;
  margin: 64px auto 0;
}
//
//.tx-form__title {
//  margin-top: 0;
//  font-size: 24px;
//  font-weight: 500;
//  line-height: 32px;
//  text-align: left;
//  color: #000;
//  margin-bottom: 24px;
//}
